<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
<br>
<div class="container" style="background-color:#ff9999;width:300px;height:100px">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="Submit" style="margin-left:220px; background-color:488A88" name="Send email"><br><br>
        <a class= "btn btn-info btn-sm" style="margin-left:240px" href="{% url 'login' %}">Cancel</a>
    </form>
</div>
