{% load static %}

<div class="row">
    <div class="col-md">
        <div class="card card-body" style="background-color:#3b453e">
            <table class="table table-sm" style="color:white">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>
                <tr>
                    <td>{{doctor.name}}</td>
                    <td>{{doctor.address}}</td>
                    <td>{{doctor.email}}</td>
                    <td>{{doctor.contact}}</td>
                    <td>{{doctor.department}}</td>
                    <td>{{doctor.status}}</td>
                    <td><a class="btn btn-warning btn-sm" href="{% url 'updateDoctorView' doctor.id %}">Update</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>