{% load static %}
<br>
<div class="row">
  <div class="col">
    <div class="col-md">
      <div class="card text-center bg-info text-white mb-3">
        <div class="card-header">
          <h5 class="card-title" style="color:white">Create Patient</h5>
        </div>
        <div class="card-body">
          <a class="btn btn-outline-danger  btn-sm btn-block" style="color:white" href="{% url 'createPatient' %}">Create Here </a>

        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-md">
      <div class="card text-center bg-success text-white mb-3">
        <div class="card-header">
          <h5 class="card-title" style="color:white">Total Patients</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{total_patient}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-md">
      <div class="card text-center bg-danger text-white mb-3">
        <div class="card-header">
          <h5 class="card-title" style="color:white"> Appointments Pending </h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{appointment_pending}}</h5>
        </div>
      </div>
    </div>
  </div>



</div>